<h3>All Artists:</h3>
<% @artists.each do |artist| %>
<p><%= artist.name %></p>
<p>Albums: </p>
<% array = artist.find_albums.map {|album| album.title } %>
<% for item in array %>
<p><%= item %></p>
<% end %>
<hr/>
<% end  %>
