<h3>Warmer Sounds: Stock Checker</h3>

<p>Use this app to:</p>

<ul id="home">
  <li>View current album inventory</li>
  <li>View current artists</li>
  <li>Add a new artist</li>
  <li>Add albums to an existing artist</li>
  <li>Update artist or album details</li>
  <li>Delete artists or albums</li>
  <li>Update stock information</li>
</ul>
