<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/styles/style.css?version=2">
  <link rel="stylesheet" href="/styles/nav.css?version=2">
  <link rel="stylesheet" href="/styles/buttons.css?version=2">
  <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans" rel="stylesheet">
  <title>Warmer Sounds</title>
</head>
<body>
<header>
  <h1>Warmer Sounds</h1>
</header>
  <div id="container">
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/artists">Artists</a></li>
        <li><a href="/albums">Albums</a></li>
      </ul>
    </nav>
    <main>
      <%= yield %>
    </main>
  </div>
  <footer>
    <p>Site poorly designed by Mark Blanford, 2017</p>
  </footer>
</body>
</html>
