<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/styles/style.css">
  <title>Warmer Sounds</title>
</head>
<body>
  <h1>Warmer Sounds: Stock Checker</h1>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/artists">Artists</a></li>
      <li><a href="/albums">Albums</a></li>
    </ul>
  </nav>
  <%= yield %>
</body>
</html>
