button {
  padding: 2.2px;
  margin-right: 2px;
  margin-left: 2px;
  border-radius: 5px;
  background-color: white;
  border: 1px gray solid;
}

button:hover {
  box-shadow: 0.5px 0.5px gray;
}

button a:hover {
  -webkit-text-stroke-width: 0px;
}

.form_button {
  padding: 2px;
  /*margin: 2px;*/
  font-size: 0.7rem;
  border-radius: 5px;
  background-color: white;
  border: 1px gray solid;
}

.form_button:hover {
  box-shadow: 0.5px 0.5px gray;
}

.delete_button {
  padding: 2px;
  margin: 2px;
  font-size: 0.65rem;
  border-radius: 5px;
  background-color: white;
  border: 1px gray solid;
}

 .delete_button:hover {
  box-shadow: 0.5px 0.5px gray;
 }

.button_wrapper {
  display: flex;
}

.button_wrapper button {
  padding: 1px 2.2px 1px 2.2px;
  margin-right: 2px;
  margin-left: 2px;
  border-radius: 5px;
  background-color: white;
  border: 1px gray solid;
}
