* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Merriweather Sans', sans-serif;
  /*background-image: url('/images/records.png');
  background-size: contain;*/
}

header {
  display: flex;
  align-items: center;
  background-color: black;
  background-image: url('/images/records.png');
  background-size: cover;
  height: 100px;
  color: white;
  padding: 10px;
}

header h1 {
  font-size: 4rem;
  margin-left: 100px;
  -webkit-text-stroke-width: 0.2px;
  -webkit-text-stroke-color: blue;
  text-shadow: 2px 2px black;
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 20px;
}

h3 {
  margin: 5px;
}

#container {
  width: 90%;
  min-height: 700px;
  display: flex;
}

.lists_container {
  padding: 10px;
}

.lists_container p, button, h3, form {
  margin-bottom: 10px;
}

main {
  width: 80%;
  padding: 20px;
}

th, td {
  padding: 10px;
}

form input, label {
  display: block;
  margin: 8px;
}

select {
  margin-left: 10px;
  margin-bottom: 10px;
}

#high {
  color: green;
}

#medium {
  color: orange;
}

#low {
  color: red;
}

table {
  text-align: center;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button a {
  color: black;
  text-decoration: none;
}
