* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Merriweather Sans', sans-serif;
  background-color: #fff8d1;
  /*background-image: url('http://bit.ly/2AYSw7A');*/
  background-color: rgba(255, 255, 235, 0.8);
  background-size: cover;
}

header {
  display: flex;
  align-items: center;
  background-color: black;
  background-image: url('/images/records.png');
  background-size: cover;
  min-height: 100px;
  min-width: 600px;
  color: white;
  padding: 10px;
}

header h1 {
  font-family: 'Permanent Marker', cursive;
  font-size: 5rem;
  margin: auto;
  -webkit-text-stroke-width: 0.2px;
  -webkit-text-stroke-color: orange;
  text-shadow: 2px 2px black;
}

footer {
  background-image: url('/images/records.png');
  background-size: cover;
  color: white;
  text-align: center;
  padding: 20px;
  text-shadow: 2px 2px black;
}

h3 {
  font-family: 'Permanent Marker', cursive;
  font-size: 1.5rem;
  margin: 0px 5px 5px 5px;
}

#container {
  width: 90%;
  min-height: 500px;
  display: flex;
}

.lists_container p, button, h3, form {
  margin-bottom: 10px;
}

main {
  width: 80%;
  padding: 20px;
}

th {
  font-size: 1.2rem;
}

th, td {
  padding: 10px;
}

#high {
  color: green;
}

#medium {
  color: orange;
}

#low {
  color: red;
}

table {
  text-align: center;
  margin-bottom: -20px;
  margin-top: -18px;
}

#artist_album_table {
  text-align: left;
  margin: 0px;
}

#artist_album_table td {
  padding: 5px;
}

#inventory {
  text-align: center;
  margin-bottom: 0;
  margin-top: 0;
}

#home {
  list-style: circle;
  margin-top: 20px;
  margin-left: 20px;
}

img {
  width: 300px;
}

#artist_album {
  width: 150px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
-webkit-text-stroke-width: 0.4px;
-webkit-text-stroke-color: orange;
}

button a {
  color: black;
  text-decoration: none;
}

hr {
  margin-top: 10px;
  margin-bottom: 10px;
}
