<h3>Add stock:</h3>
<hr/>
<form class="" action="/albums/add_stock"  method="POST">

  <div class="form_wrapper">

    <label for="album-select"></label>
    <select id="album-select" name="select" class="" name= "">
      <% @albums.each do |album| %>
      <option name="select" value="<%= album.id() %>"><%= album.find_artist['name'] %> - <%= album.title() %></option>
      <% end %>
    </select>

    <label for="add-stock">Quantity:</label>
    <input id="add-stock" type="number" min="0" name="stock" value="">

  </div>

  <input class="form_button" type="submit" name="" value="Update Inventory">

</form>
