<h3>All Albums:</h3>

<hr/>

<table>
  <th>Artist</th>
  <th>Album</th>
  <th>Stock Level</th>
  <th></th>
  <% @albums.each do |album| %>
  <% artist_hash = album.find_artist %>
  <tr>
    <td><%= artist_hash['name'] %></td>
    <td><%= album.title %></td>
    <td>**PlaceHolder**</td>
    <td> <button type="button" name="Details"><a href="/albums/<%= album.id %>">View Details</a></button></td>
  </tr>
  <% end %>
</table>
