<form action="/artists/<%= @artist.id() %>" method="POST">

<h3>Edit Artist Details</h3>

  <label for="artist-name">Name: </label>
  <input id="artist-name" type="text" name="name" value="<%= @artist.name() %>">

  <label for="artist-type">Artist Type: </label>
  <select id="artist-type" name="type">
    <% if @artist.type == 'Band' %>
    <option value="Band" selected>Band</option>
    <option value="Solo Artist">Solo Artist</option>
    <option value="DJ/Producer">DJ/Producer</option>
    <option value="Composer">Composer</option>
    <% elsif @artist.type == 'Solo Artist' %>
    <option value="Band">Band</option>
    <option value="Solo Artist" selected>Solo Artist</option>
    <option value="DJ/Producer">DJ/Producer</option>
    <option value="Composer">Composer</option>
    <% elsif @artist.type == 'DJ/Producer' %>
    <option value="Band">Band</option>
    <option value="Solo Artist">Solo Artist</option>
    <option value="DJ/Producer" selected>DJ/Producer</option>
    <option value="Composer">Composer</option>
    <% elsif @artist.type == 'Composer' %>
    <option value="Band">Band</option>
    <option value="Solo Artist">Solo Artist</option>
    <option value="DJ/Producer">DJ/Producer</option>
    <option value="Composer" selected>Composer</option>
    <% end %>
  </select>


  <input class="form_button" type="submit" value="Save Changes">

</form>
