<form action="/artists/<%= @artist.id() %>" method="POST">

  <label for="artist-name">Name: </label>
  <input id="artist-name type="text" name="name" value="<%= @artist.name() %>">

  <label for="artist-type">Artist Type: </label>
  <select id="artist-type" class="" name="type">

    <% if @artist.type() == 'Band' %>
    <option value="Band" selected>Band</option>

    <% elsif @artist.type() == 'Solo artist' || 'Solo Artist'%>
    <option value="Solo artist" selected>Solo artist</option>
    <% end %>
  </select>

  <input type="submit" value="Save Changes">

</form>
