<form action="/artists/<%= @artist.id() %>" method="POST">

  <label for="artist-name">Name: </label>
  <input id="artist-name type="text" name="name" value="<%= @artist.name() %>">

  <label for="artist-type">Artist Type: </label>
  <select id="artist-type" class="" name="type">
    <option value="Band">Band</option>
    <option value="Solo artist">Solo artist</option>
  </select>

  <input type="submit" value="Save Changes">

</form>
