<button type="button" name="Add New Artist"><a href="/artists/new">Add new artist</a></button>

<h3>All Artists:</h3>

<% @artists.each do |artist| %>
<p><%= artist.name %> <button type="button" name="artist-details"><a href="/artists/<%= artist.id %>">Details</a></button>
<p>Albums: <%= artist.find_albums.count() %>
<button type="button" name="album-details"><a href="/artists/<%= artist.id %>/albums">Details</a></button>
  </p>
<hr/>
<% end  %>
