
<div class="lists_container">
<p><%= @artist.name %><p>
<p><%= @artist.type %></p>
<table>
  <tr>
  <td><button type="button" name="Add Album"><a href="/albums/new">Add Album</a></button></td>
  <td><button type="button" name="Edit Artist"><a href="/artists/<%= @artist.id() %>/edit">Edit Artist</a></button></td>
  <td><form class="" action="/artists/<%= @artist.id() %>/delete" method="POST">
    <input class="form_button" type="submit" name="" value="Delete Artist">
  </form></td>
</tr>
</table>

</div>
<p><a href="/artists">Back</a></p>
