<p><%= @artist.name %><p>
<p><%= @artist.type %></p>
<p> <a href="/artists/<%= @artist.id() %>/edit">Edit artist</a> </p>
<form class="" action="/artists/<%= @artist.id() %>/delete" method="POST">
    <input type="submit" name="" value="Delete Artist">
</form>
<button type="button" name="Add Album"> <a href="/albums/new">Add Album</a> </button>
